@page "/createAccount"
@attribute [StreamRendering]

<PageTitle>Create New Account</PageTitle>

<div>
    <div style="background-color: antiquewhite;border: 5px solid blue;margin:10px;">
        <div style="display:flex;justify-content:center;"
        <h1>Create Account</h1>
        </div>
        <div style="display:flex;"
            <form>
                <label for="phonebox">Phone Number:</label>
                <input type="text" id="textbox" name="phonebox"><br />
                <label for="usernamebox">Username:</label>
                <input type="text" id="textbox" name="usernamebox" required><br />
                Username must be unique and over 6 characters.<br />
                <label for="emailbox">Email:</label>
                <input type="text" id="textbox" name="emailbox"><br />
                <label for="passbox">Passoword:</label>
                <input type="text" id="textbox" name="passbox" required><br />
                Username must contain at least 10 characters, including uppercase and lowercase letters and a number.<br />
                <button>Create Account</button>
            </form>
        </div>
        <div style="display:flex;justify-content:center;"

        </div>
    </div>
</div>