@page "/viewDogs"
@rendermode InteractiveServer
@inject DogService DogService
@inject NavigationManager Navigation

<PageTitle>Dogs</PageTitle>

<h1>
    View Existing Dogs
</h1>

<div style="background-color: #EEEBE8;margin: 15px;line-height: 1.8">
<ul>
    @foreach (var dog in dogs)
    {
        <li>@dog.Name is a @dog.Breed
        <button @onclick="() => ViewDogDetails(dog.ID)">View Details</button>
        </li>
    }
</ul>
</div>

@code {
    private List<Dog> dogs = new List<Dog>();

    protected override async Task OnInitializedAsync()
    {
        dogs = DogService.GetDogList();
    }

    private void ViewDogDetails(int dogId)
    {
        Navigation.NavigateTo($"/viewDog/{dogId}");
    }

}

